

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-520218040839701426.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-520218040839701426.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-520218040839701426.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-520218040839701426.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-520218040839701426.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-520218040839701426.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-520218040839701426.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-520218040839701426.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-520218040839701426.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-520218040839701426.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-520218040839701426.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-520218040839701426.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-520218040839701426.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-520218040839701426.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-520218040839701426.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-520218040839701426.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-520218040839701426.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-520218040839701426.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-520218040839701426.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-520218040839701426.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-520218040839701426.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-520218040839701426.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-520218040839701426.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-520218040839701426.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-520218040839701426.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-520218040839701426.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-520218040839701426.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-520218040839701426.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-520218040839701426.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-520218040839701426.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-520218040839701426.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-520218040839701426.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-520218040839701426.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-520218040839701426.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-520218040839701426.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-520218040839701426.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-520218040839701426.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-520218040839701426.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-520218040839701426.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-520218040839701426.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-520218040839701426.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-520218040839701426.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-520218040839701426.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-520218040839701426.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-520218040839701426.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-520218040839701426.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-520218040839701426.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-520218040839701426.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-520218040839701426.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-520218040839701426.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-520218040839701426.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-520218040839701426.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-520218040839701426.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-520218040839701426.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-520218040839701426.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-520218040839701426.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-520218040839701426.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-520218040839701426.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-520218040839701426.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-520218040839701426.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-520218040839701426.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-520218040839701426.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-520218040839701426.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-520218040839701426.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-520218040839701426.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-520218040839701426 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-520218040839701426 .gp-pointer-events-none{pointer-events:none}.gps-520218040839701426 .gp-invisible{visibility:hidden}.gps-520218040839701426 .gp-absolute{position:absolute}.gps-520218040839701426 .gp-relative{position:relative}.gps-520218040839701426 .gp-z-1{z-index:1}.gps-520218040839701426 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-520218040839701426 .gp-mb-0{margin-bottom:0}.gps-520218040839701426 .\!gp-inline{display:inline!important}.gps-520218040839701426 .gp-flex{display:flex}.gps-520218040839701426 .gp-inline-flex{display:inline-flex}.gps-520218040839701426 .gp-grid{display:grid}.gps-520218040839701426 .\!gp-hidden{display:none!important}.gps-520218040839701426 .gp-hidden{display:none}.gps-520218040839701426 .gp-h-5{height:20px}.gps-520218040839701426 .gp-h-full{height:100%}.gps-520218040839701426 .gp-w-5{width:20px}.gps-520218040839701426 .gp-w-full{width:100%}.gps-520218040839701426 .gp-max-w-full{max-width:100%}.gps-520218040839701426 .gp-flex-col{flex-direction:column}.gps-520218040839701426 .gp-items-center{align-items:center}.gps-520218040839701426 .gp-justify-center{justify-content:center}.gps-520218040839701426 .gp-gap-y-0{row-gap:0}.gps-520218040839701426 .gp-overflow-hidden{overflow:hidden}.gps-520218040839701426 .gp-break-words{overflow-wrap:break-word}.gps-520218040839701426 .gp-rounded-none{border-radius:0}.gps-520218040839701426 .gp-text-center{text-align:center}.gps-520218040839701426 .gp-no-underline{text-decoration-line:none}.gps-520218040839701426 .gp-opacity-25{opacity:.25}.gps-520218040839701426 .gp-opacity-30{opacity:.3}.gps-520218040839701426 .gp-opacity-75{opacity:.75}.gps-520218040839701426 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-520218040839701426 .gp-duration-200{transition-duration:.2s}.gps-520218040839701426 .gp-duration-300{transition-duration:.3s}.gps-520218040839701426 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-520218040839701426 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-520218040839701426 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-520218040839701426 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-520218040839701426 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-520218040839701426 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-520218040839701426 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-520218040839701426 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-520218040839701426 .tablet\:\!gp-hidden{display:none!important}.gps-520218040839701426 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-520218040839701426 .mobile\:\!gp-hidden{display:none!important}.gps-520218040839701426 .mobile\:gp-hidden{display:none}}.gps-520218040839701426 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-520218040839701426 .\[\&_p\]\:gp-inline p{display:inline}.gps-520218040839701426 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-520218040839701426 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-520218040839701426 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="i2l22fcdc841e"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(252, 247, 243)"
        class="i2l22fcdc841e gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-p-wrapper-i2l079ce57b30 gp-relative gp-flex gp-flex-col"
    >
      
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product.v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    {%- assign gpBkProduct = product -%}
    
        {%- liquid
          if request.page_type == 'product'
            if 'static' == 'static'
              if 'latest' == 'latest'
                paginate collections.all.products by 100000
                  assign product = collections.all.products | sort: 'created_at' | reverse | first
                endpaginate
              else
                assign product = all_products['']
                if product == empty or product == null
                  paginate collections.all.products by 100000
                    for item in collections.all.products
                      if item.id == 'latest'
                        assign product = item
                      endif
                    endfor
                  endpaginate
                endif
              endif
            endif
          else
            if 'latest' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at'| reverse | first
              endpaginate
            else
              assign product = all_products['']
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products
                    if item.id == 'latest'
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        -%}
      

    {%-if product != empty and product != null -%}
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "p-wrapper-i2l079ce57b30" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      <gp-product data-uid="p-wrapper-i2l079ce57b30" class="" gp-context='{"productId": {{ product.id }}, "isSyncProduct": "true", "variantSelected": {{ variant | json | escape }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1}'>
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
      
      
    <div
      id="p-wrapper-i2l079ce57b30"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%"
        class="p-wrapper-i2l079ce57b30 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="i2l079ce57b30 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="sp-i2l75458bef8c"
        style="--mt:0px;--ml:auto;--mb:40px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2l75458bef8c gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l75458bef8c gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="IERHTYwqewLC "
        style="--ta:center;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:38px;--size-tablet:41px;--size-mobile:36px;--c:rgb(77, 77, 77);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gIERHTYwqewLC_text }}</h2>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="hobkpjeptJDg"
        style="--b:solid;--bc:rgb(255, 250, 244);--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:24px;--pl:16px;--pb:16px;--pr:16px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgb(254, 254, 254)"
        class="hobkpjeptJDg gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="c-ICKKwwljDHaz gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image ICKKwwljDHaz"
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagemqwboyxngt.png" width="450" height="530" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagemqwboyxngt.png" data-srcset="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagemqwboyxngt.png 768w,https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagemqwboyxngt.png 1024w,https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagemqwboyxngt.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="450" height="530" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="i2laaec66b72b gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="rewrap_row_srMbDbtAOKqP"
        style="--b:solid;--bc:rgb(244, 244, 244);--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:auto;--mb:16px;--mr:auto;--pt:40px;--pl:16px;--pb:52px;--pr:16px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgb(245, 245, 245)"
        class="rewrap_row_srMbDbtAOKqP gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l8c54918b9e gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="iETcAsooNjQr "
        style="--ta:center;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:21px;--size-tablet:18px;--size-mobile:16px;--c:rgb(196, 21, 35);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.giETcAsooNjQr_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="ltFNbtTTjXdr "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(77, 77, 77);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gltFNbtTTjXdr_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="rewrap_row_uikHnlKihAgJ"
        style="--b:solid;--bc:rgb(244, 244, 244);--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:40px;--pl:16px;--pb:52px;--pr:16px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgb(245, 245, 245)"
        class="rewrap_row_uikHnlKihAgJ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="i2l433506c29f gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button style="">
  <div
    
    style="--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    class=""
  >
    <style>
    .NSQRGglnLxxS.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: rgb(196, 21, 36);
  
      border-radius: var(--g-radius-small);
    }

    .NSQRGglnLxxS:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="NSQRGglnLxxS" aria-label="How This Helps."
      
      data-state="idle"
      class="NSQRGglnLxxS gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight"
      style="--bg:rgb(246, 246, 246);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--shadow:none;--c:rgb(196, 21, 36);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:default;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:21px;--size-tablet:18px;--size-mobile:16px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.gNSQRGglnLxxS_label }}
      </span>
    </button>
  </div>
  </gp-button>

    <div
      parentTag="Col"
        class="vwHEepJaGczN "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(77, 77, 77);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gvwHEepJaGczN_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
   {%- liquid
      assign inventory_quantity = variant.inventory_quantity | default: 0
    -%}
    <gp-product-button
      class="gp-product-button"
      gp-data='{"setting":{"actionEffect":"continue-shopping","errorMessage":"Cannot add product to cart","successMessage":"Add product to cart successfully","label":"SHOP NOW","outOfStockLabel":"Out of stock","errorType":"built-in","customURL":{"link":"/cart","target":"_self"}},"styles":{"errorTypo":{"type":"paragraph-2"},"successTypo":{"type":"paragraph-2"}},"disabled":"{{variant.available}}","variantID":"{{variant.id}}","totalVariant":"{{product.variants.size}}"}' style=""
    >
        
  <gp-button style="">
  <div
    
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    class="{% unless variant.available %} !gp-hidden {% endunless %}"
  >
    <style>
    .GiCuWlbTUhdf.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      
      
      
      
      
    }

    .GiCuWlbTUhdf:hover::before {
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
    }
  </style>
    <button
      type="button" data-id="GiCuWlbTUhdf" aria-label="SHOP NOW"
      
      data-state="idle"
      class="GiCuWlbTUhdf gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight gp-button-atc"
      style="--bg:rgb(195, 36, 52);--hvr-bg:var(--g-c-highlight, highlight);--shadow:none;--c:rgb(254, 253, 253);--w:300px;--w-tablet:300px;--w-mobile:300px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:default;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:21px;--size-tablet:18px;--size-mobile:16px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.gGiCuWlbTUhdf_label }}
      </span>
    </button>
  </div>
  </gp-button>

        
  <gp-button style="">
  <div
    
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    class="{% if variant.available %} !gp-hidden {% endif %}"
  >
    <style>
    .GiCuWlbTUhdf-sold-out.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      
      
      
      
      
    }

    .GiCuWlbTUhdf-sold-out:hover::before {
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
    }
  </style>
    <button
      type="button" data-id="GiCuWlbTUhdf-sold-out" aria-label="Out of stock"
      
      data-state="idle"
      class="GiCuWlbTUhdf-sold-out gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight gp-button-sold-out btn-disabled gp-opacity-30 gp-pointer-events-none"
      style="--bg:rgb(195, 36, 52);--hvr-bg:var(--g-c-highlight, highlight);--shadow:none;--c:rgb(254, 253, 253);--w:300px;--w-tablet:300px;--w-mobile:300px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:default;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:21px;--size-tablet:18px;--size-mobile:16px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.gGiCuWlbTUhdf_outOfStockLabel }}
      </span>
    </button>
  </div>
  </gp-button>

    </gp-product-button>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-button.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
    
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="gp-text-center">{{ "gempages.Product.product_not_found" | t }}</div>
    {%- endif -%}
  
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-520218040839701426 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/8c382c-87/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=520217924036723592&sectionId=520218040839701426)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"gIERHTYwqewLC_text","label":"gIERHTYwqewLC_text","default":"The Science Behind URO Vaginal Probiotic"},{"type":"html","id":"giETcAsooNjQr_text","label":"giETcAsooNjQr_text","default":"The Biologye"},{"type":"html","id":"gltFNbtTTjXdr_text","label":"gltFNbtTTjXdr_text","default":"The vagina has a naturally diverse microbiome. If there aren't enough Lactobacillus probiotics, the vagina's pH can become too basic, making it more susceptible to harmful bacteria, which may lead to discomfort and unhealthy odor."},{"type":"html","id":"gNSQRGglnLxxS_label","label":"gNSQRGglnLxxS_label","default":"How This Helps."},{"type":"html","id":"gvwHEepJaGczN_text","label":"gvwHEepJaGczN_text","default":"URO Vaginal Probiotic contains 4 Lactobacillus strains, with XOS prebiotics to help keep those strains active. These probiotics help crowd out harmful bacteria to promote pH balance, vaginal comfort & healthy odor."},{"type":"html","id":"gGiCuWlbTUhdf_label","label":"gGiCuWlbTUhdf_label","default":"SHOP NOW"},{"type":"html","id":"gGiCuWlbTUhdf_outOfStockLabel","label":"gGiCuWlbTUhdf_outOfStockLabel","default":"Out of stock"}],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
