

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-520218106203734920.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-520218106203734920.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-520218106203734920.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-520218106203734920.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-520218106203734920.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-520218106203734920.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-520218106203734920.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-520218106203734920.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-520218106203734920.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-520218106203734920.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-520218106203734920.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-520218106203734920.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-520218106203734920.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-520218106203734920.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-520218106203734920.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-520218106203734920.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-520218106203734920.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-520218106203734920.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-520218106203734920.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-520218106203734920.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-520218106203734920.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-520218106203734920.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-520218106203734920.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-520218106203734920.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-520218106203734920.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-520218106203734920.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-520218106203734920.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-520218106203734920.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-520218106203734920.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-520218106203734920.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-520218106203734920.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-520218106203734920.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-520218106203734920.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-520218106203734920.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-520218106203734920.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-520218106203734920.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-520218106203734920.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-520218106203734920.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-520218106203734920.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-520218106203734920.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-520218106203734920.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-520218106203734920.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-520218106203734920.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-520218106203734920.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-520218106203734920.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-520218106203734920.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-520218106203734920.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-520218106203734920.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-520218106203734920.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-520218106203734920.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-520218106203734920.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-520218106203734920.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-520218106203734920.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-520218106203734920.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-520218106203734920.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-520218106203734920.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-520218106203734920.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-520218106203734920.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-520218106203734920.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-520218106203734920.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-520218106203734920.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-520218106203734920.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-520218106203734920.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-520218106203734920.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-520218106203734920.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-520218106203734920 .gp-invisible{visibility:hidden}.gps-520218106203734920 .gp-absolute{position:absolute}.gps-520218106203734920 .gp-relative{position:relative}.gps-520218106203734920 .gp-z-1{z-index:1}.gps-520218106203734920 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-520218106203734920 .gp-mb-0{margin-bottom:0}.gps-520218106203734920 .\!gp-inline{display:inline!important}.gps-520218106203734920 .gp-flex{display:flex}.gps-520218106203734920 .gp-inline-flex{display:inline-flex}.gps-520218106203734920 .gp-grid{display:grid}.gps-520218106203734920 .\!gp-hidden{display:none!important}.gps-520218106203734920 .gp-hidden{display:none}.gps-520218106203734920 .gp-h-5{height:20px}.gps-520218106203734920 .gp-h-full{height:100%}.gps-520218106203734920 .gp-w-5{width:20px}.gps-520218106203734920 .gp-w-full{width:100%}.gps-520218106203734920 .gp-max-w-full{max-width:100%}.gps-520218106203734920 .gp-flex-col{flex-direction:column}.gps-520218106203734920 .gp-items-center{align-items:center}.gps-520218106203734920 .gp-justify-center{justify-content:center}.gps-520218106203734920 .gp-gap-y-0{row-gap:0}.gps-520218106203734920 .gp-overflow-hidden{overflow:hidden}.gps-520218106203734920 .gp-break-words{overflow-wrap:break-word}.gps-520218106203734920 .gp-rounded-none{border-radius:0}.gps-520218106203734920 .gp-text-center{text-align:center}.gps-520218106203734920 .gp-leading-\[0\]{line-height:0}.gps-520218106203734920 .gp-no-underline{text-decoration-line:none}.gps-520218106203734920 .gp-opacity-25{opacity:.25}.gps-520218106203734920 .gp-opacity-75{opacity:.75}.gps-520218106203734920 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-520218106203734920 .gp-duration-200{transition-duration:.2s}.gps-520218106203734920 .gp-duration-300{transition-duration:.3s}.gps-520218106203734920 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-520218106203734920 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-520218106203734920 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-520218106203734920 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-520218106203734920 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-520218106203734920 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-520218106203734920 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-520218106203734920 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-520218106203734920 .tablet\:\!gp-hidden{display:none!important}.gps-520218106203734920 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-520218106203734920 .mobile\:\!gp-hidden{display:none!important}.gps-520218106203734920 .mobile\:gp-hidden{display:none}}.gps-520218106203734920 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-520218106203734920 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1023px){.gps-520218106203734920 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-520218106203734920 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-520218106203734920 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-520218106203734920 .\[\&_p\]\:gp-inline p{display:inline}.gps-520218106203734920 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-520218106203734920 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-520218106203734920 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="i2ldcf2959673"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(254, 252, 249)"
        class="i2ldcf2959673 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-i2l86dad0be78 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="i2l86dad0be78"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 8fr);--gtc-tablet:minmax(0, 4fr) minmax(0, 8fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="i2l86dad0be78 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-sp-i2labb81ac07f gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="sp-i2labb81ac07f"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2labb81ac07f gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2labb81ac07f gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="sp-i2l54d750e6b7"
        style="--mt:0px;--ml:auto;--mb:20px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2l54d750e6b7 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l54d750e6b7 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="CmSpSqTEVKjv "
        style="--ta:left;--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:38px;--size-tablet:41px;--size-mobile:36px;--c:rgb(76, 77, 77);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gCmSpSqTEVKjv_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="JHTlKNGvbgqi "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:21px;--size-tablet:18px;--size-mobile:16px;--c:rgb(77, 77, 76);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gJHTlKNGvbgqi_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="sp-i2l78e4820e14"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2l78e4820e14 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l78e4820e14 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="i2l3bcf6100f4"
        style="--mt:0px;--ml:auto;--mb:20px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="i2l3bcf6100f4 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-pUCsgsQGnCMi gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="pUCsgsQGnCMi "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:21px;--size-tablet:18px;--size-mobile:16px;--c:rgb(76, 76, 76);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gpUCsgsQGnCMi_text }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-DkYvONlezVVU gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="gp-leading-[0] DkYvONlezVVU"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:rgb(77, 77, 77);--t:rotate(0deg);--height-desktop:undefined;--height-tablet:undefined;--height-mobile:undefined"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg width='16' height='16' xmlns='http://www.w3.org/2000/svg'> <image href='https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagecxeevuibfg.png' height='16' width='16' /> </svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
  <gp-button style="">
  <div
    
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
    class=""
  >
    <style>
    .dROIxyvDDUDt.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .dROIxyvDDUDt:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="dROIxyvDDUDt" aria-label="SHOP NOW"
      
      data-state="idle"
      class="dROIxyvDDUDt gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight"
      style="--bg:rgb(196, 20, 35);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--shadow:none;--c:rgb(255, 255, 255);--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:default;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:21px;--size-tablet:18px;--size-mobile:16px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.gdROIxyvDDUDt_label }}
      </span>
    </button>
  </div>
  </gp-button>

    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-i2le9f67889eb gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="i2le9f67889eb"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:20px;--cg-tablet:20px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-tablet:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="i2le9f67889eb gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-rewrap_row_yJdoxKljdIDC gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="rewrap_row_yJdoxKljdIDC"
        style="--b:solid;--bc:rgb(247, 241, 232);--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:12px;--pl:16px;--pb:12px;--pr:16px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgb(254, 254, 254)"
        class="rewrap_row_yJdoxKljdIDC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="c-p-wrapper-i2l77cd3cd488 gp-relative gp-flex gp-flex-col"
    >
      
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product.v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    {%- assign gpBkProduct = product -%}
    
        {%- liquid
          if request.page_type == 'product'
            if 'static' == 'static'
              if 'latest' == 'latest'
                paginate collections.all.products by 100000
                  assign product = collections.all.products | sort: 'created_at' | reverse | first
                endpaginate
              else
                assign product = all_products['']
                if product == empty or product == null
                  paginate collections.all.products by 100000
                    for item in collections.all.products
                      if item.id == 'latest'
                        assign product = item
                      endif
                    endfor
                  endpaginate
                endif
              endif
            endif
          else
            if 'latest' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at'| reverse | first
              endpaginate
            else
              assign product = all_products['']
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products
                    if item.id == 'latest'
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        -%}
      

    {%-if product != empty and product != null -%}
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "p-wrapper-i2l77cd3cd488" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      <gp-product data-uid="p-wrapper-i2l77cd3cd488" class="" gp-context='{"productId": {{ product.id }}, "isSyncProduct": "true", "variantSelected": {{ variant | json | escape }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1}'>
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
      
      
    <div
      id="p-wrapper-i2l77cd3cd488"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="p-wrapper-i2l77cd3cd488 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-sp-i2l77cd3cd488 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="sp-i2l77cd3cd488"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2l77cd3cd488 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l77cd3cd488 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image hmPJIyLWiAtL"
    style="--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageqmddvtrurr.png" width="201" height="134" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:4/3;--aspect-tablet:4/3;--aspect-mobile:4/3;--objf:cover;--w:201px;--w-tablet:201px;--w-mobile:201px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageqmddvtrurr.png" data-srcset="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageqmddvtrurr.png 768w,https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageqmddvtrurr.png 1024w,https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageqmddvtrurr.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="201" height="134" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:4/3;--aspect-tablet:4/3;--aspect-mobile:4/3;--objf:cover;--w:201px;--w-tablet:201px;--w-mobile:201px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div><div style="--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px" class="YBHajxPDIarQ ">
      
    {%- unless product -%}
      <p>{{ "gempages.ProductTitle.product_not_found" | t }}</p>
    {%- else -%}
      
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <h1
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-product-title"
          style="--w:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(76, 76, 76);--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:21px;--size-tablet:18px;--size-mobile:16px;word-break:break-word;overflow:hidden"
        >{{ product.title }}</h1>
      </div>
    </div>
      
    {%- endunless -%}
  
      </div>
  <gp-button style="">
  <div
    
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
    class=""
  >
    <style>
    .utcHRPZqDXjv.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: rgb(76, 76, 76);
  
      border-radius: var(--g-radius-small);
    }

    .utcHRPZqDXjv:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="utcHRPZqDXjv" aria-label="ead More"
      
      data-state="idle"
      class="utcHRPZqDXjv gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight"
      style="--bg:rgb(253, 253, 253);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--shadow:none;--c:rgb(76, 76, 76);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:default;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:21px;--size-tablet:18px;--size-mobile:16px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.gutcHRPZqDXjv_label }}
      </span>
    </button>
  </div>
  </gp-button>

    </div>
    </div>
  
    
    </div>
    </div>
  
    
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="gp-text-center">{{ "gempages.Product.product_not_found" | t }}</div>
    {%- endif -%}
  
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-rewrap_row_YUgzfaSkcEeg gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="rewrap_row_YUgzfaSkcEeg"
        style="--b:solid;--bc:rgb(247, 241, 232);--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:12px;--pl:16px;--pb:12px;--pr:16px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgb(253, 253, 253)"
        class="rewrap_row_YUgzfaSkcEeg gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="i2l1b83fd659c gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image QEitxUUJLtpF"
    style="--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageyjugsbesut.png" width="201" height="134" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:4/3;--aspect-tablet:4/3;--aspect-mobile:4/3;--objf:cover;--w:201px;--w-tablet:201px;--w-mobile:201px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageyjugsbesut.png" data-srcset="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageyjugsbesut.png 768w,https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageyjugsbesut.png 1024w,https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageyjugsbesut.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="201" height="134" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:4/3;--aspect-tablet:4/3;--aspect-mobile:4/3;--objf:cover;--w:201px;--w-tablet:201px;--w-mobile:201px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="Col"
        class="bOTHtXAAzZFl "
        style="--ta:left;--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:21px;--size-tablet:18px;--size-mobile:16px;--c:rgb(78, 78, 78);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gbOTHtXAAzZFl_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="zCqKBShRoMoo "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:21px;--size-tablet:18px;--size-mobile:16px;--c:rgb(75, 75, 75);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gzCqKBShRoMoo_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-rewrap_row_KmBZsqEaECAM gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="rewrap_row_KmBZsqEaECAM"
        style="--b:solid;--bc:rgb(247, 241, 232);--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:12px;--pl:12px;--pb:12px;--pr:16px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgb(254, 254, 254)"
        class="rewrap_row_KmBZsqEaECAM gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="i2lec472cdf74 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image lIAIlJHhXObm"
    style="--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagezpizcahare.png" width="201" height="133" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:4/3;--aspect-tablet:4/3;--aspect-mobile:4/3;--objf:cover;--w:201px;--w-tablet:201px;--w-mobile:201px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagezpizcahare.png" data-srcset="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagezpizcahare.png 768w,https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagezpizcahare.png 1024w,https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagezpizcahare.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="201" height="133" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:4/3;--aspect-tablet:4/3;--aspect-mobile:4/3;--objf:cover;--w:201px;--w-tablet:201px;--w-mobile:201px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="Col"
        class="mtyKXjOklFnj "
        style="--ta:left;--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:21px;--size-tablet:18px;--size-mobile:16px;--c:rgb(78, 78, 78);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gmtyKXjOklFnj_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="UyiJyZDSQWoy "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:21px;--size-tablet:18px;--size-mobile:16px;--c:rgb(75, 75, 75);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gUyiJyZDSQWoy_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 15",
    "tag": "section",
    "class": "gps-520218106203734920 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/8c382c-87/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=520217924036723592&sectionId=520218106203734920)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"gCmSpSqTEVKjv_text","label":"gCmSpSqTEVKjv_text","default":"The Daily Vitamin"},{"type":"html","id":"gJHTlKNGvbgqi_text","label":"gJHTlKNGvbgqi_text","default":"Get a daily serving of period hacks, self care practices, and frequently  asked health questions on our blog"},{"type":"html","id":"gpUCsgsQGnCMi_text","label":"gpUCsgsQGnCMi_text","default":"Explore More"},{"type":"html","id":"gdROIxyvDDUDt_label","label":"gdROIxyvDDUDt_label","default":"SHOP NOW"},{"type":"html","id":"gutcHRPZqDXjv_label","label":"gutcHRPZqDXjv_label","default":"ead More"},{"type":"html","id":"gbOTHtXAAzZFl_text","label":"gbOTHtXAAzZFl_text","default":"Are My Symptoms  Bacterial Vaginosis or Yeast Infection?"},{"type":"html","id":"gzCqKBShRoMoo_text","label":"gzCqKBShRoMoo_text","default":"Read More"},{"type":"html","id":"gmtyKXjOklFnj_text","label":"gmtyKXjOklFnj_text","default":"What Your Vaginal Discharge is Telling You About Your Health"},{"type":"html","id":"gUyiJyZDSQWoy_text","label":"gUyiJyZDSQWoy_text","default":"Read More"}],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
