

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-520218040856478643.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-520218040856478643.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-520218040856478643.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-520218040856478643.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-520218040856478643.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-520218040856478643.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-520218040856478643.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-520218040856478643.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-520218040856478643.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-520218040856478643.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-520218040856478643.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-520218040856478643.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-520218040856478643.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-520218040856478643.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-520218040856478643.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-520218040856478643.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-520218040856478643.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-520218040856478643.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-520218040856478643.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-520218040856478643.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-520218040856478643.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-520218040856478643.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-520218040856478643.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-520218040856478643.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-520218040856478643.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-520218040856478643.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-520218040856478643.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-520218040856478643.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-520218040856478643.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-520218040856478643.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-520218040856478643.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-520218040856478643.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-520218040856478643.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-520218040856478643.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-520218040856478643.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-520218040856478643.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-520218040856478643.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-520218040856478643.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-520218040856478643.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-520218040856478643.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-520218040856478643.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-520218040856478643.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-520218040856478643.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-520218040856478643.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-520218040856478643.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-520218040856478643.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-520218040856478643.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-520218040856478643.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-520218040856478643.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-520218040856478643.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-520218040856478643.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-520218040856478643.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-520218040856478643.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-520218040856478643.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-520218040856478643.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-520218040856478643.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-520218040856478643.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-520218040856478643.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-520218040856478643.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-520218040856478643.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-520218040856478643.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-520218040856478643.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-520218040856478643.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-520218040856478643.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-520218040856478643.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-520218040856478643 .gp-g-subheading-1{font-family:var(--g-sh1-ff);font-size:var(--g-sh1-size);font-style:var(--g-sh1-fs);font-weight:var(--g-sh1-weight);letter-spacing:var(--g-sh1-ls);line-height:var(--g-sh1-lh)}.gps-520218040856478643 .gp-g-subheading-2{font-family:var(--g-sh2-ff);font-size:var(--g-sh2-size);font-style:var(--g-sh2-fs);font-weight:var(--g-sh2-weight);letter-spacing:var(--g-sh2-ls);line-height:var(--g-sh2-lh)}.gps-520218040856478643 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-520218040856478643 .gp-invisible{visibility:hidden}.gps-520218040856478643 .gp-absolute{position:absolute}.gps-520218040856478643 .gp-relative{position:relative}.gps-520218040856478643 .gp-z-1{z-index:1}.gps-520218040856478643 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-520218040856478643 .gp-mb-0{margin-bottom:0}.gps-520218040856478643 .\!gp-inline{display:inline!important}.gps-520218040856478643 .gp-flex{display:flex}.gps-520218040856478643 .gp-inline-flex{display:inline-flex}.gps-520218040856478643 .gp-grid{display:grid}.gps-520218040856478643 .\!gp-hidden{display:none!important}.gps-520218040856478643 .gp-hidden{display:none}.gps-520218040856478643 .gp-h-5{height:20px}.gps-520218040856478643 .gp-h-full{height:100%}.gps-520218040856478643 .gp-w-5{width:20px}.gps-520218040856478643 .gp-w-full{width:100%}.gps-520218040856478643 .gp-max-w-full{max-width:100%}.gps-520218040856478643 .gp-flex-col{flex-direction:column}.gps-520218040856478643 .gp-items-center{align-items:center}.gps-520218040856478643 .gp-justify-center{justify-content:center}.gps-520218040856478643 .gp-gap-y-0{row-gap:0}.gps-520218040856478643 .gp-overflow-hidden{overflow:hidden}.gps-520218040856478643 .gp-break-words{overflow-wrap:break-word}.gps-520218040856478643 .gp-rounded-none{border-radius:0}.gps-520218040856478643 .gp-no-underline{text-decoration-line:none}.gps-520218040856478643 .gp-opacity-25{opacity:.25}.gps-520218040856478643 .gp-opacity-75{opacity:.75}.gps-520218040856478643 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-520218040856478643 .gp-duration-200{transition-duration:.2s}.gps-520218040856478643 .gp-duration-300{transition-duration:.3s}.gps-520218040856478643 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-520218040856478643 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-520218040856478643 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-520218040856478643 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-520218040856478643 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-520218040856478643 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-520218040856478643 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-520218040856478643 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-520218040856478643 .tablet\:\!gp-hidden{display:none!important}.gps-520218040856478643 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-520218040856478643 .mobile\:\!gp-hidden{display:none!important}.gps-520218040856478643 .mobile\:gp-hidden{display:none}}.gps-520218040856478643 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-520218040856478643 .\[\&_p\]\:gp-inline p{display:inline}.gps-520218040856478643 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-520218040856478643 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-520218040856478643 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="i2l889b0c825a"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(252, 154, 157)"
        class="i2l889b0c825a gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-w-i2l889b0c825a gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="w-i2l889b0c825a"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="w-i2l889b0c825a gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l0e6283f6d1 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="i2ld47e362665"
        style="--mt:0px;--ml:auto;--mb:16px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-tablet:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="i2ld47e362665 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-rewrap_row_TqatnTrYcmyI gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="rewrap_row_TqatnTrYcmyI"
        style="--b:solid;--bc:rgb(255, 154, 157);--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:24px;--pl:0px;--pb:20px;--pr:16px;--cg:32px;--cg-tablet:32px;--pc:end;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgb(254, 249, 243)"
        class="rewrap_row_TqatnTrYcmyI gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="i2l6b3e286003 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="i2l973d08beef"
        style="--mt:0px;--ml:auto;--mb:16px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:end;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="i2l973d08beef gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-mRpCmKIRRqkC gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="mRpCmKIRRqkC "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-subheading-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gmRpCmKIRRqkC_text }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-fPIhJxFzhvLE gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="fPIhJxFzhvLE "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(88, 88, 88);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gfPIhJxFzhvLE_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="sp-i2l7e470e9ea9"
        style="--mt:0px;--ml:auto;--mb:64px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:end;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2l7e470e9ea9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l7e470e9ea9 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="IiPmNhJQaLCh "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-subheading-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gIiPmNhJQaLCh_text }}</div>
      </div>
    </div><div
    
    role="presentation"
    class="gp-group/image pHORDAzJNEgZ"
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageplmcfmtpge.png" width="51" height="50" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:51/50;--objf:cover;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageplmcfmtpge.png" data-srcset="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageplmcfmtpge.png 768w,https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageplmcfmtpge.png 1024w,https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageplmcfmtpge.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="51" height="50" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:51/50;--objf:cover;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div>
    </div>
  
    
    <div
      parentTag="Col"
        class="PvRIeQHfgzNK "
        style="--ta:right;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:right">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-subheading-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(77, 77, 77);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gPvRIeQHfgzNK_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-rewrap_row_TQthNpJPVshk gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="rewrap_row_TQthNpJPVshk"
        style="--b:solid;--bc:rgb(255, 153, 156);--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:24px;--pl:16px;--pb:20px;--pr:16px;--cg:32px;--cg-tablet:32px;--pc:end;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgb(254, 249, 243)"
        class="rewrap_row_TQthNpJPVshk gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="i2l73b3b1fcf9 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="i2l8e88480b66"
        style="--mt:0px;--ml:auto;--mb:16px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:end;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="i2l8e88480b66 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-zfVdENYKnIYM gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="zfVdENYKnIYM "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-subheading-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(78, 78, 78);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gzfVdENYKnIYM_text }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-nqUnMJxBVeXp gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="nqUnMJxBVeXp "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(88, 88, 88);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gnqUnMJxBVeXp_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    <div
      parentTag="Col"
        class="FJbRIeBmXGVC "
        style="--ta:right;--mt:0px;--ml:0px;--mb:64px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:right">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-subheading-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(81, 81, 81);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gFJbRIeBmXGVC_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="wSFnEBqcuKwb "
        style="--ta:right;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:right">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-subheading-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(77, 77, 77);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gwSFnEBqcuKwb_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-rewrap_row_CFdSkyqkMyjL gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="rewrap_row_CFdSkyqkMyjL"
        style="--b:solid;--bc:rgb(255, 153, 156);--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:24px;--pl:16px;--pb:20px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:end;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgb(254, 249, 243)"
        class="rewrap_row_CFdSkyqkMyjL gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="i2l15684216e7 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="i2l86d37fdb5d"
        style="--mt:0px;--ml:auto;--mb:16px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:end;--gtc:minmax(0, 9fr) minmax(0, 3fr);--gtc-tablet:minmax(0, 9fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgb(254, 249, 243)"
        class="i2l86d37fdb5d gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-PkryvyJvGnWB gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="PkryvyJvGnWB "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-subheading-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(77, 77, 77);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gPkryvyJvGnWB_text }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-fKNXiynNdoni gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="fKNXiynNdoni "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:35px;--size-tablet:32px;--size-mobile:29px;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gfKNXiynNdoni_text }}</h2>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="sp-i2l3bc9935287"
        style="--mt:0px;--ml:auto;--mb:64px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:end;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2l3bc9935287 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l3bc9935287 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="fJiQayCIVDKn "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-subheading-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gfJiQayCIVDKn_text }}</div>
      </div>
    </div>
  <gp-button style="">
  <div
    
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    class=""
  >
    <style>
    .rcuqqrKZmaeA.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .rcuqqrKZmaeA:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="rcuqqrKZmaeA" aria-label="Button"
      
      data-state="idle"
      class="rcuqqrKZmaeA gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight gp-g-paragraph-1"
      style="--bg:rgb(242, 68, 68);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--shadow:none;--c:rgb(255, 255, 255);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:default"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.grcuqqrKZmaeA_label }}
      </span>
    </button>
  </div>
  </gp-button>

    </div>
    </div>
  
    
    <div
      parentTag="Col"
        class="dKEDnpGXzpXh "
        style="--ta:right;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:right">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-subheading-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gdKEDnpGXzpXh_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    <div
      parentTag="Col"
        class="tNNcJiwaTCGl "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-subheading-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gtNNcJiwaTCGl_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-520218040856478643 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/8c382c-87/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=520217924036723592&sectionId=520218040856478643)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"gmRpCmKIRRqkC_text","label":"gmRpCmKIRRqkC_text","default":"isfied"},{"type":"html","id":"gfPIhJxFzhvLE_text","label":"gfPIhJxFzhvLE_text","default":"Lorem ips"},{"type":"html","id":"gIiPmNhJQaLCh_text","label":"gIiPmNhJQaLCh_text","default":"aken a few vaginal probiotics and was ok with the results but one is AMAZING. I've struggled with vaginal health, this luct has b it back to life. Smell, taste, it's even improved. kin!!!"},{"type":"html","id":"gPvRIeQHfgzNK_text","label":"gPvRIeQHfgzNK_text","default":"Jessica"},{"type":"html","id":"gzfVdENYKnIYM_text","label":"gzfVdENYKnIYM_text","default":"THIS WORKS"},{"type":"html","id":"gnqUnMJxBVeXp_text","label":"gnqUnMJxBVeXp_text","default":"Lorem ips"},{"type":"html","id":"gFJbRIeBmXGVC_text","label":"gFJbRIeBmXGVC_text","default":"OMG this actually works! I've tried everything to help eliminate. vaginal odor and nothing worked until I tried URO. In a matter of DAYS the odor was completely gone."},{"type":"html","id":"gwSFnEBqcuKwb_text","label":"gwSFnEBqcuKwb_text","default":"Shell"},{"type":"html","id":"gPkryvyJvGnWB_text","label":"gPkryvyJvGnWB_text","default":"Great product, wonderful results"},{"type":"html","id":"gfKNXiynNdoni_text","label":"gfKNXiynNdoni_text","default":"E"},{"type":"html","id":"gfJiQayCIVDKn_text","label":"gfJiQayCIVDKn_text","default":"Just recieved my second bottle - since using this I've had zero is. with discharge, and I've been seeing improvement in wetness. I so happy with this product"},{"type":"html","id":"grcuqqrKZmaeA_label","label":"grcuqqrKZmaeA_label","default":"Button"},{"type":"html","id":"gdKEDnpGXzpXh_text","label":"gdKEDnpGXzpXh_text","default":"-Arie"},{"type":"html","id":"gtNNcJiwaTCGl_text","label":"gtNNcJiwaTCGl_text","default":"Read More Reviews"}],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
