

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-520218087128040478.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-520218087128040478.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-520218087128040478.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-520218087128040478.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-520218087128040478.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-520218087128040478.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-520218087128040478.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-520218087128040478.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-520218087128040478.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-520218087128040478.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-520218087128040478.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-520218087128040478.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-520218087128040478.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-520218087128040478.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-520218087128040478.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-520218087128040478.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-520218087128040478.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-520218087128040478.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-520218087128040478.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-520218087128040478.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-520218087128040478.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-520218087128040478.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-520218087128040478.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-520218087128040478.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-520218087128040478.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-520218087128040478.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-520218087128040478.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-520218087128040478.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-520218087128040478.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-520218087128040478.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-520218087128040478.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-520218087128040478.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-520218087128040478.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-520218087128040478.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-520218087128040478.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-520218087128040478.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-520218087128040478.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-520218087128040478.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-520218087128040478.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-520218087128040478.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-520218087128040478.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-520218087128040478.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-520218087128040478.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-520218087128040478.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-520218087128040478.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-520218087128040478.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-520218087128040478.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-520218087128040478.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-520218087128040478.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-520218087128040478.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-520218087128040478.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-520218087128040478.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-520218087128040478.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-520218087128040478.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-520218087128040478.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-520218087128040478.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-520218087128040478.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-520218087128040478.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-520218087128040478.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-520218087128040478.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-520218087128040478.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-520218087128040478.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-520218087128040478 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-520218087128040478 .gp-relative{position:relative}.gps-520218087128040478 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-520218087128040478 .gp-mb-0{margin-bottom:0}.gps-520218087128040478 .\!gp-inline{display:inline!important}.gps-520218087128040478 .gp-flex{display:flex}.gps-520218087128040478 .gp-inline-flex{display:inline-flex}.gps-520218087128040478 .gp-grid{display:grid}.gps-520218087128040478 .\!gp-hidden{display:none!important}.gps-520218087128040478 .gp-hidden{display:none}.gps-520218087128040478 .gp-h-full{height:100%}.gps-520218087128040478 .gp-w-full{width:100%}.gps-520218087128040478 .gp-max-w-full{max-width:100%}.gps-520218087128040478 .gp-flex-col{flex-direction:column}.gps-520218087128040478 .gp-items-center{align-items:center}.gps-520218087128040478 .gp-justify-center{justify-content:center}.gps-520218087128040478 .gp-gap-y-0{row-gap:0}.gps-520218087128040478 .gp-overflow-hidden{overflow:hidden}.gps-520218087128040478 .gp-leading-\[0\]{line-height:0}.gps-520218087128040478 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-520218087128040478 .gp-duration-200{transition-duration:.2s}.gps-520218087128040478 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-520218087128040478 .tablet\:\!gp-hidden{display:none!important}.gps-520218087128040478 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-520218087128040478 .mobile\:\!gp-hidden{display:none!important}.gps-520218087128040478 .mobile\:gp-hidden{display:none}}.gps-520218087128040478 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-520218087128040478 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1023px){.gps-520218087128040478 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-520218087128040478 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-520218087128040478 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-520218087128040478 .\[\&_p\]\:gp-inline p{display:inline}.gps-520218087128040478 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-520218087128040478 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="i2l19509dbfbf"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(254, 249, 243)"
        class="i2l19509dbfbf gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-w-i2l19509dbfbf gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="w-i2l19509dbfbf"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="w-i2l19509dbfbf gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l6129ebd112 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="i2lbd8e263ae1"
        style="--mt:0px;--ml:auto;--mb:64px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgb(254, 249, 243)"
        class="i2lbd8e263ae1 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-sp-i2lc1ae717067 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="sp-i2lc1ae717067"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2lc1ae717067 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2lc1ae717067 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="knVIUBpIRlkh "
        style="--ta:left;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:47px;--size-tablet:46px;--size-mobile:41px;--c:rgb(77, 76, 77);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gknVIUBpIRlkh_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="UaPjDlKytRBB "
        style="--ta:left;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:47px;--size-tablet:46px;--size-mobile:41px;--c:rgb(76, 77, 76);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gUaPjDlKytRBB_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="wFWYdYheKjZz "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:23px;--size-tablet:25px;--size-mobile:23px;--c:rgb(77, 77, 77);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gwFWYdYheKjZz_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-sp-i2l486a0ac603 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="sp-i2l486a0ac603"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2l486a0ac603 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l486a0ac603 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="cZsyFPNNzcjp "
        style="--ta:left;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(79, 79, 79);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gcZsyFPNNzcjp_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="YmiePoHYfoVg "
        style="--ta:left;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(77, 77, 77);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gYmiePoHYfoVg_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="NVrYSBuvxtud "
        style="--ta:left;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(79, 79, 79);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gNVrYSBuvxtud_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="SjGClGrTYwrE "
        style="--ta:left;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(79, 79, 79);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gSjGClGrTYwrE_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="WXalZlrhRnwr "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(77, 77, 77);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gWXalZlrhRnwr_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="sp-i2la42f0c1dd1"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2la42f0c1dd1 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2la42f0c1dd1 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="sp-i2lc727250458"
        style="--mt:0px;--ml:auto;--mb:16px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:end;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2lc727250458 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2lc727250458 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="sp-i2lcb3acd3b92"
        style="--mt:0px;--ml:auto;--mb:16px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2lcb3acd3b92 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2lcb3acd3b92 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="NaSNmPAXfyvG "
        style="--ta:left;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:23px;--size-tablet:25px;--size-mobile:23px;--c:rgb(77, 77, 77);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gNaSNmPAXfyvG_text }}</div>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="rewrap_row_jgHgPBBFmMrn"
        style="--b:solid;--bc:rgb(255, 251, 245);--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:44px;--pl:16px;--pb:40px;--pr:16px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgb(246, 246, 246)"
        class="rewrap_row_jgHgPBBFmMrn gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="i2le5ec01b56d gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="kdDWluzMsvmD "
        style="--ta:left;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:23px;--size-tablet:25px;--size-mobile:23px;--c:rgb(77, 77, 77);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gkdDWluzMsvmD_text }}</div>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="i2lb4e292475a"
        style="--mt:0px;--ml:auto;--mb:16px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="i2lb4e292475a gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-uqxnoOzXJzty gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="uqxnoOzXJzty "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(206, 121, 16);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.guqxnoOzXJzty_text }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-jNtXFyyPJobf gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="jNtXFyyPJobf "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(77, 77, 77);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gjNtXFyyPJobf_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    <div
      parentTag="Col"
        class="tWOEyzAhWDiA "
        style="--ta:left;--mt:0px;--ml:0px;--mb:40px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:30px;--size-tablet:32px;--size-mobile:29px;--c:rgb(77, 77, 77);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gtWOEyzAhWDiA_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="awwFTuABaHBS "
        style="--ta:left;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(77, 77, 77);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gawwFTuABaHBS_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="AtTgASOQxqJC "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:23px;--size-tablet:25px;--size-mobile:23px;--c:rgb(78, 78, 78);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gAtTgASOQxqJC_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="rewrap_row_VGkSZlXVCkhP"
        style="--b:solid;--bc:rgb(254, 249, 244);--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:36px;--pl:16px;--pb:36px;--pr:16px;--cg:32px;--cg-tablet:32px;--pc:end;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgb(246, 246, 246)"
        class="rewrap_row_VGkSZlXVCkhP gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l9257b4581e gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="i2l07c87b1f86"
        style="--mt:0px;--ml:auto;--mb:16px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgb(246, 246, 246)"
        class="i2l07c87b1f86 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-jLBxJuHcnmfh gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image jLBxJuHcnmfh"
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagevxgdkyictg.png" width="173" height="45" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:173/45;--aspect-tablet:173/45;--aspect-mobile:173/45;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagevxgdkyictg.png" data-srcset="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagevxgdkyictg.png 768w,https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagevxgdkyictg.png 1024w,https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagevxgdkyictg.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="173" height="45" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:173/45;--aspect-tablet:173/45;--aspect-mobile:173/45;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-LGOzEtroBpoL gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="LGOzEtroBpoL "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(77, 77, 77);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gLGOzEtroBpoL_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    <div
    
    role="presentation"
    class="gp-group/image EUbJeRIDvFFW"
    style="--mt:0px;--ml:0px;--mb:40px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagenpbbjkzmjc.png" width="275" height="28" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:275/28;--aspect-tablet:275/28;--aspect-mobile:275/28;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagenpbbjkzmjc.png" data-srcset="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagenpbbjkzmjc.png 768w,https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagenpbbjkzmjc.png 1024w,https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagenpbbjkzmjc.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="275" height="28" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:275/28;--aspect-tablet:275/28;--aspect-mobile:275/28;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="Col"
        class="ugQirPiIfYSH "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:23px;--size-tablet:25px;--size-mobile:23px;--c:rgb(77, 77, 77);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gugQirPiIfYSH_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="sp-i2lcf1b3cd9df"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:end;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2lcf1b3cd9df gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2lcf1b3cd9df gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="sp-i2l94b6d06e71"
        style="--mt:0px;--ml:auto;--mb:16px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2l94b6d06e71 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l94b6d06e71 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="rewrap_row_WkFQKJRjIMSX"
        style="--b:solid;--bc:rgb(255, 250, 244);--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:auto;--mb:16px;--mr:auto;--pt:36px;--pl:16px;--pb:36px;--pr:16px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgb(246, 246, 246)"
        class="rewrap_row_WkFQKJRjIMSX gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="i2l12cf6d493e gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="i2l974330f336"
        style="--mt:0px;--ml:auto;--mb:16px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="i2l974330f336 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-BcdhLIQNNFDC gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="BcdhLIQNNFDC "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(77, 77, 77);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gBcdhLIQNNFDC_text }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-KZjvsjXpxWSw gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="KZjvsjXpxWSw "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(77, 77, 77);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gKZjvsjXpxWSw_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    <div
      parentTag="Col"
        class="QPDRnfzwUnXi "
        style="--ta:left;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(78, 78, 78);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gQPDRnfzwUnXi_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="RngxENNrZtSK "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:30px;--size-tablet:32px;--size-mobile:29px;--c:rgb(77, 77, 77);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gRngxENNrZtSK_text }}</h2>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="rewrap_row_nNXTzFexDAwE"
        style="--b:solid;--bc:rgb(255, 251, 245);--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:36px;--pl:16px;--pb:36px;--pr:16px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgb(246, 246, 246)"
        class="rewrap_row_nNXTzFexDAwE gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l724a52e18e gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="aoEfsFwqFKEx "
        style="--ta:left;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:23px;--size-tablet:25px;--size-mobile:23px;--c:rgb(77, 77, 77);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gaoEfsFwqFKEx_text }}</div>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="i2ld51bf71a4d"
        style="--mt:0px;--ml:auto;--mb:16px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="i2ld51bf71a4d gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-lhXLwYfwCqTO gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="lhXLwYfwCqTO "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(77, 77, 77);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.glhXLwYfwCqTO_text }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-vNEEZHaIqbid gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="vNEEZHaIqbid "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(77, 77, 77);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gvNEEZHaIqbid_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    <div
      parentTag="Col"
        class="KxpLRbkiGLxZ "
        style="--ta:left;--mt:0px;--ml:0px;--mb:40px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:30px;--size-tablet:32px;--size-mobile:29px;--c:rgb(76, 76, 76);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gKxpLRbkiGLxZ_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="fRGujSmdFxjA "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(77, 77, 77);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gfRGujSmdFxjA_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="rewrap_row_zGCUnKVxeYcy"
        style="--b:solid;--bc:rgb(254, 249, 244);--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:40px;--pl:16px;--pb:40px;--pr:16px;--cg:32px;--cg-tablet:32px;--pc:end;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgb(246, 246, 246)"
        class="rewrap_row_zGCUnKVxeYcy gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2lfa4bbca2fc gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="i2l1cddc8d767"
        style="--mt:0px;--ml:auto;--mb:16px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="i2l1cddc8d767 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-i2l0573ec6df4 gp-relative gp-flex gp-flex-col"
    >
      <div style="" class="i2l0573ec6df4 ">
      
    
      
      
    <div
      uid="i2l0573ec6df4"
       style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="gp-inline-flex gp-flex-col"
        style="--rg:16px"
        >
        
    <li
      class="gp-flex gp-w-full gp-items-center gp-icon-list-item"
      style="--cg:16px"
    >
    <div
      
      style=""
      class="c-icon-row-i2l0573ec6df4-0 gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="gp-leading-[0] icon-row-i2l0573ec6df4-0"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:rgb(77, 77, 77);--t:rotate(0deg);--height-desktop:undefined;--height-tablet:undefined;--height-mobile:undefined"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height='100%' width='100%' xmlns='http://www.w3.org/2000/svg' className='w-6 h-6' viewBox='0 0 512 512' fill='currentColor'><path fill='currentColor' strokeLinecap='round' strokeLinejoin='round' fill='currentColor' d='M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z' /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      
      style=""
      class="c-nseNSmHMIxCj gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="nseNSmHMIxCj "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(77, 77, 77);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gnseNSmHMIxCj_text }}</div>
      </div>
    </div>
    </div>
  </li>
      </ul>
  </div>
  
      </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-lpQbyTbzQLlY gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="lpQbyTbzQLlY "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(77, 77, 77);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.glpQbyTbzQLlY_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    <div
      parentTag="Col"
        class="GzoAMQguHOfu "
        style="--ta:left;--mt:0px;--ml:0px;--mb:40px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:30px;--size-tablet:32px;--size-mobile:29px;--c:rgb(76, 76, 76);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gGzoAMQguHOfu_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="jfADljhYCxPt "
        style="--ta:left;--mt:0px;--ml:0px;--mb:4px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:23px;--size-tablet:25px;--size-mobile:23px;--c:rgb(77, 77, 77);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gjfADljhYCxPt_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="UjgVZxWbNvTD "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:23px;--size-tablet:25px;--size-mobile:23px;--c:rgb(78, 78, 78);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gUjgVZxWbNvTD_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 12",
    "tag": "section",
    "class": "gps-520218087128040478 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/8c382c-87/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=520217924036723592&sectionId=520218087128040478)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"gknVIUBpIRlkh_text","label":"gknVIUBpIRlkh_text","default":"Customer Reviews"},{"type":"html","id":"gUaPjDlKytRBB_text","label":"gUaPjDlKytRBB_text","default":"4.8*****"},{"type":"html","id":"gwFWYdYheKjZz_text","label":"gwFWYdYheKjZz_text","default":"2283 Reviews"},{"type":"html","id":"gcZsyFPNNzcjp_text","label":"gcZsyFPNNzcjp_text","default":"5 Star"},{"type":"html","id":"gYmiePoHYfoVg_text","label":"gYmiePoHYfoVg_text","default":"4 Star"},{"type":"html","id":"gNVrYSBuvxtud_text","label":"gNVrYSBuvxtud_text","default":"3 Star"},{"type":"html","id":"gSjGClGrTYwrE_text","label":"gSjGClGrTYwrE_text","default":"2 Star"},{"type":"html","id":"gWXalZlrhRnwr_text","label":"gWXalZlrhRnwr_text","default":"1 Star"},{"type":"html","id":"gNaSNmPAXfyvG_text","label":"gNaSNmPAXfyvG_text","default":"Q SEARCH"},{"type":"html","id":"gkdDWluzMsvmD_text","label":"gkdDWluzMsvmD_text","default":"Fleur"},{"type":"html","id":"guqxnoOzXJzty_text","label":"guqxnoOzXJzty_text","default":"Verified Custome"},{"type":"html","id":"gjNtXFyyPJobf_text","label":"gjNtXFyyPJobf_text","default":"April 20, 2023"},{"type":"html","id":"gtWOEyzAhWDiA_text","label":"gtWOEyzAhWDiA_text","default":"Best probiotic I have ever used"},{"type":"html","id":"gawwFTuABaHBS_text","label":"gawwFTuABaHBS_text","default":"I have tried a ton of probiotics in the last 20 years, and I have never been so impressed with one before Uro started working immediately and I noticed major results within about 2 days. I've struggled with vaginal flora my entire life due to over-prescribing of antibiotics as a kid, and as an adult have struggled with infections and generally tri."},{"type":"html","id":"gAtTgASOQxqJC_text","label":"gAtTgASOQxqJC_text","default":"Read More"},{"type":"html","id":"gLGOzEtroBpoL_text","label":"gLGOzEtroBpoL_text","default":"March 8, 2023"},{"type":"html","id":"gugQirPiIfYSH_text","label":"gugQirPiIfYSH_text","default":"OMG this actually works! I have tried everything to help eliminate vaginal oder and nothing worked until I tried Uro. In a matter of DAYs the odor was completely gone. I feel so confident and sexy now that I don't have to worry about keeping my legs crossed!"},{"type":"html","id":"gBcdhLIQNNFDC_text","label":"gBcdhLIQNNFDC_text","default":"Verified Customer"},{"type":"html","id":"gKZjvsjXpxWSw_text","label":"gKZjvsjXpxWSw_text","default":"February 17, 2023"},{"type":"html","id":"gQPDRnfzwUnXi_text","label":"gQPDRnfzwUnXi_text","default":"**** Uro Vaginal Probiotics"},{"type":"html","id":"gRngxENNrZtSK_text","label":"gRngxENNrZtSK_text","default":"I really love this product, it really works reviews says it takes at least two bottles for you to start seeing result, but seriously I did before I finish the first one. I'm more confident about my scent underneath  and my partner love it too"},{"type":"html","id":"gaoEfsFwqFKEx_text","label":"gaoEfsFwqFKEx_text","default":"Ariel"},{"type":"html","id":"glhXLwYfwCqTO_text","label":"glhXLwYfwCqTO_text","default":"Verified Customer"},{"type":"html","id":"gvNEEZHaIqbid_text","label":"gvNEEZHaIqbid_text","default":"January 3, 2023"},{"type":"html","id":"gKxpLRbkiGLxZ_text","label":"gKxpLRbkiGLxZ_text","default":"+ Great product, wonderful results"},{"type":"html","id":"gfRGujSmdFxjA_text","label":"gfRGujSmdFxjA_text","default":"Thank you for making such a wonderful product.  Just received my second bottle for URO vaginal health  supplements. Since using this product at the beginning of December I've had zero issues with discharge, and I've been seeing improvement in arousal and wetness. T love URO a lot and am so happy with this product."},{"type":"html","id":"gnseNSmHMIxCj_text","label":"gnseNSmHMIxCj_text","default":"Verified Customer"},{"type":"html","id":"glpQbyTbzQLlY_text","label":"glpQbyTbzQLlY_text","default":"January 31, 2023"},{"type":"html","id":"gGzoAMQguHOfu_text","label":"gGzoAMQguHOfu_text","default":"* Every woman needs!"},{"type":"html","id":"gjfADljhYCxPt_text","label":"gjfADljhYCxPt_text","default":"I was very skeptical at first about this. I had tried other vaginal probiotics and they did not work well with me at all. So I decided to try URO. Life changer!! T decided to start the first week by taking one a day aww and the next week I did two a day. Before I even started the two a day I noticed a difference! I always suffered from BV if I had."},{"type":"html","id":"gUjgVZxWbNvTD_text","label":"gUjgVZxWbNvTD_text","default":"Read More"}],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
